:root {
    --text-color: black;
    --background-color: white;
    overflow-x: hidden;
  }
  
  [data-theme="dark"] {
    --text-color: white;
    --background-color: black;
  }


body {
  transition: 3s background-color;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

.goal_14{
  position: absolute;
  width: 10vh;
  padding: 0.5vw;
}

.change-1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.change-2 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 100vh;
}

.change-3 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 200vh;
}

.change-4 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 300vh;
}

.change-5 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 400vh;
}

.scroll-section--scene1 {
  display: grid;
}

.scroll-section__quote {
  width: 40vw;
}

* {
  overflow-x: hidden;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.scroll-section__howtofix {
  padding-top: 50vh;

    & p, li {
      
      padding: 15px;
      margin: 10px;
      /*color: white;
      -webkit-text-stroke: 0.5px black;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      box-shadow: 2px 2px 8px white;
      background: linear-gradient(#0b3b52, #19b1ba) padding-box,
              linear-gradient(to right, white, orange) border-box;
      border-radius: 20px;
      border: 3px solid transparent;*/

      background-color: #007dbc;
      color: white;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      box-shadow: 2px 5px 10px white;
      border-radius: 5px;

      /*background-color: whitesmoke;
      color: black;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
      background: linear-gradient(white, gray) padding-box,
              linear-gradient(to right, white, gray) border-box;
      border-radius: 10px;
      border: 3px solid transparent;*/

    }
}



// ---------------- MEDIA QUERIES --------------------
@media (prefers-reduced-motion: reduce) {
  Disable all animations
  * {
    animation: none !important;
    transition: none !important;
  }
}

@media only screen and (max-width: 300px){
  // scene 1
  body{
    margin: 0;
  }
  .goal_14{
    width: 14%;
    height: 5%;
  }

  .water{
    width: 100vw;
    top: 134vw;
  }

  .cloud_1{
    height: 10vh;
    width: 10vw;
    animation: unset;
    position: inherit;
  }

  .cloud_2, .cloud_3{
    height: 10vh;
    width: 10vw;
    display: none;
  }

  .iceberg{
    // transform: scale(100);
    //display: grid;
    // justify-items: center;
    // align-items: center;
    // left: 7vh;
    // position: relative;
    height: 5vh;
    width: 5vw;
  }

  .icebear{
    height: 5vh;
    width: 5vw;
  }

.scroll-section__howtofix{
  width: 0;
  margin: 0;
  padding: 5px;

  p, li {
    margin: 0;
    font-size: 12px;
  }
}

// scene 2  
  .trash{
    right: 0;
    bottom: 0;
    top: 0;
  }

  

  .scroll-section img{
    height: 45vh;
    margin: 0;
  }


  // scene 3
  .scroll-section__bottom1, .scroll-section__bottom2,   .scroll-section__bottom3{
    font-size: 1vh;
  }
}