:root {
    --text-color: rgb(0, 0, 0);
    --background-color: white;
  }
  
  [data-theme="dark"] {
    --text-color: white;
    --background-color: black;
  }

body {
  transition: 3s background-color;
  color: var(--text-color);
  background-color: var(--background-color);
}
.goal_14{
  position: absolute;
  width: 20vh;
}
.change-1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.change-2 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 100vh;
}

.change-3 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 200vh;
}

.change-4 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 300vh;
}

* {
  overflow-x: hidden;
}

.scroll-section--scene1 {
  display: grid;
}
.scroll-section__quote {
  margin: 2vh;
  width: 40vw;
}

* {
    overflow-x: hidden;
}
.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.scroll-section__howtofix {
  padding-top: 50vh;

    & p, li {
      background-color: rgb(163, 192, 217);
      color: black;
      padding: 10px;
      border-radius: 20px;
      margin: 10px;
    }
}


/*
@media (prefers-reduced-motion: reduce) {
  Disable all animations
  * {
    animation: none !important;
    transition: none !important;
  }
}
*/