/* scene 1 
------------------------------------------------
THE BEGINNING:
•	Polo bear – main character 
•	Narrator – Give facts to viewers.
•	Polo bear is on an iceberg, and it starts to slowly sink, while viewer is scrolling down.
*/

.scroll-section {
    &--scene1 {
    }

    &__quote {
        margin: 20vw;
        width: 40vw;
    }
}
/* scene 1 ------------------------------------------------*/

.clouds{
    animation: cloud_animation 10s infinite alternate linear;
    .cloud_1{
        position: absolute;
        top: 15vh;
        left: 100vh;
        width: 20vw;
        z-index: -1;
        animation: cloud_animation 8s infinite alternate linear;
    }

    .cloud_2{
        position: absolute;
        left: 50vh;
        width: 10vw;
        z-index: -1;
        animation: cloud_animation 10s infinite alternate linear;
    }

    .cloud_3{
        position: absolute;
        top: 30vh;
        left: 130vh;
        width: 20vw;
        z-index: -2;
        animation: cloud_animation 15s infinite alternate linear;
    }
}

@keyframes cloud_animation{
    from {
    left: 80%;
    }
    
    to {
    left: 0;
    }
}

.water{
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 60vh;
    background: linear-gradient(to top, rgba(169,208,113,0),rgba(21,119,143,1)); 
}

.iceberg, .icebear {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 35vh;
}

.iceberg-full{
    animation: iceberg-fade-animation 10s alternate linear;
    animation-delay: 3s;
}

.ice-platform {
    position: absolute;
    height: 127vh;
    width: 127vw;
}

.ice-overlay {
    z-index: -1;
    position: absolute;
    height: 127vh;
    width: 127vw;
    animation: iceberg-animation 1s alternate infinite linear;
}

.ice-bottom {
    z-index: -2;
    position: absolute;
    height: 127vh;
    width: 127vw;
    animation: iceberg-animation 3s alternate infinite linear;
}

.icebear-body, .icebear-headBase, .icebear-legLeft, .icebear-legRight, .icebear-footLeft, .icebear-footRight, .icebear-tail, .icebear-ear, .icebear-face {
    position: fixed;
    height: 127vh;
    width: 127vw;
}

.head-move{
    transform-origin: left;
    position: fixed;
    height: 127vh;
    width: 127vw;
    animation: head-animation 4s alternate infinite linear;
    animation-timing-function: ease-in-out;
}

.leftLeg-move{
    transform-origin: top left;
    position: fixed;
    height: 127vh;
    width: 127vw;
    animation: leg-animation 4s alternate infinite linear;
    animation-timing-function: ease-in-out;
}

.rightLeg-move{
    transform-origin: top center;
    position: fixed;
    height: 127vh;
    width: 127vw;
    animation: leg-animation 3s alternate infinite linear;
    animation-timing-function: ease-in-out;
}

.icebear {
    margin-top: 1vh;
}

@keyframes iceberg-animation {
    0% {
    transform: rotate(2deg);
    }
    100% {
    transform: rotate(-2deg);
    }
}

@keyframes head-animation {
    0% {
    transform: rotate(0.5deg);
    }
    50% {
    transform: rotate(-0.5deg);
    }
    100% {
    transform: rotate(-1deg);
    }
}

@keyframes leg-animation {
    0% {
    transform: rotate(0.5deg);
    }
    50% {
    transform: rotate(-0.2deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes iceberg-fade-animation {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: 0.5;
    }

    100%{
        opacity: 0;
    }
}