/* scene 2
------------------------------------------------
MIDDLE
•	Facts come up while It's sinking.
•	Soon the iceberg is melted, the polo bear sinks down under water.
•	We can also see plastic, toxic waste, dying see life, biohazard sign.
*/
.scroll-section {
    &--scene2 {
        display: grid;
    }
    &__globalwarmingfacts {
        margin: 20px;
        width: 400px;
    }
    &__globalwarmingfacts2 {
        margin: 20px;
        width: 400px;
    }
}