/* scene 1 
------------------------------------------------
THE BEGINNING:
•	Polo bear – main character 
•	Narrator – Give facts to viewers.
•	Polo bear is on an iceberg, and it starts to slowly sink, while viewer is scrolling down.
*/

.scroll-section {

    &--scene1 {
        display: grid;
    }

    &__quote {
        margin: 20px;
        width: 400px;
    }
}
/* scene 1 ------------------------------------------------*/
.iceberg, .icebear{
    display: grid;
    justify-items: center;
}

.ice-platform{
    position: absolute;
   
}

.ice-overlay{
    z-index: -1;
    position: absolute;
    animation: iceberg-animation 1s alternate infinite linear;
}

.ice-bottom{
    z-index: -2;
    position: absolute;
    animation: iceberg-animation 3s alternate infinite linear;
}

.icebear{
    margin-top: -150px;
}

.icebear-body, .icebear-headBase, .icebear-legLeft, .icebear-legRight, .icebear-footLeft, .icebear-footRight, .icebear-tail, .icebear-ear, .icebear-face{
    position: absolute;
}

.head-move{
    position: absolute;
    margin-left: -850px;
    animation: iceberg-animation 3s alternate infinite linear;
}

@keyframes iceberg-animation {
    0% {
        transform: rotate(2deg);
      }
    
    100%{
      transform: rotate(-2deg);
    }
}