.scroll-section {
    /*The whole scene*/
    &--scene3 {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    &__howtofix {
      font-size: 2.5vh;
      z-index: 1;
      width: 30vw;
      color: rgb(99, 99, 99);
      position: absolute;
    }

    &__img1 {
      position: absolute;
      z-index: 1;
      width: 10vw;
      height: 10vh;
      bottom: 0;
      left: 10vw;
    }

    &__img2 {
      position: absolute;
      z-index: 1;
      width: 10vw;
      height: 10vh;
      bottom: 15vh;
      left: 45vw;
    }
  
    &__img3 {
      position: absolute;
      z-index: 1;
      width: 30vw;
      height: 30vh;
      bottom: 20vh;
      left: 5vw;
    }
  
    &__img4 {
      position: absolute;
      z-index: 1;
      width: 50vw;
      height: 50vh;
      bottom: 20vh;
      left: 50vw;
    }
  
    &__img5 {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    &__img6 {
      position: absolute;
      bottom: 0;
      left: 80vw;
      width: 10vw;
      height: 10vh;
      height: auto;
      transform: rotate(180deg);
    }

    &__bottom {
        font-size: 33px;
        color: white;
        background-color: none;
        text-align: center;
        animation: fadeIn 5s;
    }
    .fade-in {
        opacity: 1;
        transition: opacity 5s;
      }
      
  }