@charset "UTF-8";
:root {
  --text-color: black;
  --background-color: white;
  overflow-x: hidden;
}

[data-theme=dark] {
  --text-color: white;
  --background-color: black;
}

body {
  transition: 3s background-color;
  color: var(--text-color);
  background-color: var(--background-color);
}

.goal_14 {
  position: absolute;
  width: 20vh;
  padding-left: 0.2vw;
}

.change-1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.change-2 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 100vh;
}

.change-3 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 200vh;
}

.change-4 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 300vh;
}

.change-5 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  margin-top: 400vh;
}

.scroll-section--scene1 {
  display: grid;
}

.scroll-section__quote {
  width: 40vw;
}

* {
  overflow-x: hidden;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s;
}

.scroll-section__howtofix {
  padding-top: 50vh;
}
.scroll-section__howtofix p, .scroll-section__howtofix li {
  background-color: rgb(163, 192, 217);
  color: black;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

@media (prefers-reduced-motion: reduce) {
  Disable all animations * {
    animation: none !important;
    transition: none !important;
  }
}
@media only screen and ((min-width: 400px) and (max-width: 400px)) {
  body {
    margin: 0;
  }
  .water {
    width: 100vw;
    top: 134vw;
  }
  .cloud_1 {
    height: 10vh;
    width: 10vw;
    animation: unset;
    position: inherit;
  }
  .cloud_2, .cloud_3 {
    height: 10vh;
    width: 10vw;
    display: none;
  }
  .iceberg {
    height: 5vh;
    max-width: 5vw;
  }
  .icebear {
    height: 5vh;
    max-width: 5vw;
  }
  .scroll-section__howtofix {
    width: 0;
    margin: 0;
  }
  .trash {
    right: 0;
    bottom: 0;
    top: 0;
  }
  p, li {
    margin: 0;
  }
  .scroll-section img {
    height: 45vh;
    margin: 0;
  }
  .scroll-section__bottom1, .scroll-section__bottom2, .scroll-section__bottom3 {
    font-size: 0.5vh;
  }
}
/* scene 1 
------------------------------------------------
THE BEGINNING:
•	Polo bear – main character 
•	Narrator – Give facts to viewers.
•	Polo bear is on an iceberg, and it starts to slowly sink, while viewer is scrolling down.
*/
.scroll-section__quote {
  margin: 20vw;
  width: 40vw;
}

/* scene 1 ------------------------------------------------*/
.clouds {
  animation: cloud_animation 10s infinite alternate linear;
}
.clouds .cloud_1 {
  position: absolute;
  left: 100vh;
  width: 20vw;
  z-index: -1;
  animation: cloud_animation 10s infinite alternate linear;
}
.clouds .cloud_2 {
  position: absolute;
  left: 50vh;
  width: 20vw;
  z-index: -1;
  animation: cloud_animation 10s infinite alternate linear;
}
.clouds .cloud_3 {
  position: absolute;
  top: 25vh;
  left: 130vh;
  width: 20vw;
  z-index: -2;
  animation: cloud_animation 10s infinite alternate linear;
}

@keyframes cloud_animation {
  from {
    left: 20vh;
  }
  to {
    left: 0;
  }
}
.water {
  position: absolute;
  width: 100vw;
  height: 70vh;
  top: 34vw;
  background: linear-gradient(to top, rgba(169, 208, 113, 0), rgb(21, 119, 143));
}

.iceberg {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 35vh;
}

.iceberg-full {
  animation: iceberg-fade-animation 10s alternate linear;
  animation-delay: 3s;
}

.ice-platform {
  position: absolute;
  height: 127vh;
  width: 127vw;
}

.ice-overlay {
  z-index: -1;
  position: absolute;
  height: 127vh;
  width: 127vw;
  animation: iceberg-animation 1s alternate infinite linear;
}

.ice-bottom {
  z-index: -2;
  position: absolute;
  height: 127vh;
  width: 127vw;
  animation: iceberg-animation 3s alternate infinite linear;
}

.icebear-body, .icebear-headBase, .icebear-legLeft, .icebear-legRight, .icebear-footLeft, .icebear-footRight, .icebear-tail, .icebear-ear, .icebear-face {
  position: fixed;
  height: 127vh;
  width: 127vw;
}

.head-move {
  transform-origin: left;
  position: fixed;
  height: 127vh;
  width: 127vw;
  animation: head-animation 4s alternate infinite linear;
  animation-timing-function: ease-in-out;
}

.leftLeg-move {
  transform-origin: top left;
  position: fixed;
  height: 127vh;
  width: 127vw;
  animation: leg-animation 4s alternate infinite linear;
  animation-timing-function: ease-in-out;
}

.rightLeg-move {
  transform-origin: top center;
  position: fixed;
  height: 127vh;
  width: 127vw;
  animation: leg-animation 3s alternate infinite linear;
  animation-timing-function: ease-in-out;
}

.icebear {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 1vh;
}

@keyframes iceberg-animation {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes head-animation {
  0% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.5deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes leg-animation {
  0% {
    transform: rotate(0.5deg);
  }
  50% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
@keyframes iceberg-fade-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* scene 2
------------------------------------------------
MIDDLE
•	Facts come up while It's sinking.
•	Soon the iceberg is melted, the polo bear sinks down under water.
•	We can also see plastic, toxic waste, dying see life, biohazard sign.
*/
.scene2 {
  overflow: hidden;
}

.scroll-section--scene2 {
  display: grid;
  margin-top: 160vh;
}

.scroll-section__globalwarmingfacts {
  margin: 2vh;
  width: 40vw;
}

.scroll-section__globalwarmingfacts2 {
  margin: 2vh;
  width: 40vw;
}

.small__fish, .cluster__fish, .small__fish__2 {
  animation: fish-animation-1 7s infinite;
}

@keyframes fish-animation-1 {
  from {
    transform: translateX(130vw);
  }
  to {
    transform: translateX(-170vw);
  }
}
.big__fish, .small__amount__fish {
  animation: fish-animation-2 10s infinite;
}

.big__fish {
  margin-top: 230vh;
}

@keyframes fish-animation-2 {
  from {
    transform: translateX(-110vw);
  }
  to {
    transform: translateX(130vw);
  }
}
.trash {
  animation: trash-animation 7s ease-in infinite;
}

.trash__bag {
  margin-bottom: 200vh;
  margin-left: 120vh;
}

.trash__can {
  margin-left: 100vh;
  margin-bottom: 260vh;
  position: relative;
}

.trash__spoon {
  margin-left: 50vh;
}

@keyframes trash-animation {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(5.56vh);
  }
  50% {
    transform: translateY(11.11vh);
  }
  70% {
    transform: translateY(5.56vh);
  }
  100% {
    transform: translateY(0);
  }
}
.trash__sock {
  margin-left: 10vw;
}

.scroll-section {
  /*The whole scene*/
}
.scroll-section--scene3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, rgb(239, 239, 239), rgba(239, 239, 239, 0));
}
.scroll-section__howtofix {
  font-size: 2.5vh;
  z-index: 1;
  width: 30vw;
  color: rgb(99, 99, 99);
  position: absolute;
}
.scroll-section__img1 {
  position: absolute;
  z-index: 1;
  width: 10vw;
  height: 10vh;
  bottom: 0;
  left: 10vw;
}
.scroll-section__img2 {
  position: absolute;
  z-index: 1;
  width: 10vw;
  height: 10vh;
  bottom: 15vh;
  left: 45vw;
}
.scroll-section__img3 {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: 30vh;
  bottom: 20vh;
  left: 5vw;
}
.scroll-section__img4 {
  position: absolute;
  z-index: 1;
  width: 50vw;
  height: 50vh;
  bottom: 20vh;
  left: 50vw;
}
.scroll-section__img5 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.scroll-section__img6 {
  position: absolute;
  bottom: 0;
  left: 80vw;
  width: 10vw;
  height: 10vh;
  height: auto;
  transform: rotate(180deg);
}
.scroll-section__img7 {
  position: absolute;
  bottom: 0;
  left: 80vw;
  width: 20vw;
  height: 10vh;
  height: auto;
}
.scroll-section .fade-in {
  opacity: 1;
  transition: opacity 5s;
}
.scroll-section__images::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 150%);
  z-index: 1000;
}
@keyframes moveParticles {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}
.scroll-section .particle {
  position: absolute;
  bottom: 0;
  background: green;
  width: 25px;
  height: 25px;
  animation: moveParticles 2s linear infinite;
  margin-bottom: 40vh;
  border-radius: 50%;
}
.scroll-section .particle:nth-child(2n) {
  animation-duration: 7s;
}
.scroll-section .particle:nth-child(3n) {
  animation-duration: 7s;
}
.scroll-section .particle:nth-child(4n) {
  animation-duration: 6s;
}
.scroll-section .particle:nth-child(5n) {
  animation-duration: 7s;
}
.scroll-section .particle:nth-child(6n) {
  animation-duration: 6s;
}
.scroll-section .particle:nth-child(7n) {
  animation-duration: 4s;
}

.scroll-section {
  /*The whole scene*/
}
.scroll-section--scene4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
}
.scroll-section__bottom1, .scroll-section__bottom2, .scroll-section__bottom3, .scroll-section__bottom4 {
  position: absolute; /* Add this */
  font-size: 5vh;
  text-align: center;
  animation: fadeInOut 40s infinite;
  width: 50vw;
  display: block;
  animation-timing-function: ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.scroll-section__bottom1 {
  animation-delay: 0s;
}
.scroll-section__bottom2 {
  animation-delay: 10s;
}
.scroll-section__bottom3 {
  animation-delay: 20s;
}
.scroll-section__bottom4 {
  animation-delay: 30s;
}
@keyframes fadeInOut {
  0%, 16.66% {
    opacity: 0;
    visibility: hidden;
  }
  16.67%, 20% {
    opacity: 0;
    visibility: visible;
    transform: scale(1);
  }
  25%, 33.33% {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
  }
  33.34%, 37.5% {
    opacity: 1;
    visibility: visible;
  }
  41.67%, 50% {
    opacity: 0;
    visibility: visible;
  }
  50.01%, 100% {
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */