
:root {
  --sky-color: #dcf6fc;
  --cloud-color: #8ae0f3;
  --ground-color: #e2ede2;
  --green-house: #7cbb7c;
  --shadow-house: #8b1818;
  --pink-house: #f8aa9f;
  --dark: #1d1d1b;
  --dark-roof: #0a490a;
  --dark-vegetation: #0a490a;
}
